name: Build and analyze

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout layerGenerator
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: adopt
        java-package: jdk
        cache: 'maven'
    - name: Cache SonarCloud packages
      uses: actions/cache@v4
      with:
        path: ~/.sonar/cache
        key: ${{ runner.os }}-sonar
        restore-keys: ${{ runner.os }}-sonar
    - name: Initialize CodeQL
      uses: github/codeql-action/init@v3
      with:
        languages: java
    - name: Build and analyze layer generator sources
      env:
        GITHUB_TOKEN: ${{ secrets.APE_DEPENDENCY_BUILD_PAT }}
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      run: mvn clean -B install org.sonarsource.scanner.maven:sonar-maven-plugin:sonar -P sonar-cloud --file pom.xml
    - name: Perform CodeQL Analysis
      uses: github/codeql-action/analyze@v3

  clean-packages:
    needs: build
    strategy:
      matrix:
        artifacts: [layer-generator, utility, sourcecode-generator, extension-annotation, base-layer-generator, generator-annotation, generator-plugin, sample, util-sample, plugin-sample, annotation-sample, entity-sample, grouping-sample, field-sample, reference-sample, extension-sample, version-sample]
    runs-on: ubuntu-latest
    steps:
    - name: delete previous versions of ${{ matrix.artifacts }}
      uses: Ma-Vin/packages-action@v1.1.1
      with:
        github_token: ${{ secrets.LAYER_GITHUB_PACKAGES_PAT }}
        dry_run: false
        github_user: Ma-Vin
        package_type: maven
        package_name: com.github.ma_vin.util.layer_generator.${{ matrix.artifacts }}
        delete_snapshots: true

  deploy:
    needs: [build, clean-packages]
    runs-on: ubuntu-latest
    steps:
    - name: Checkout layerGenerator
      uses: actions/checkout@v4
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: 17
        distribution: adopt
        java-package: jdk
        cache: 'maven'
    - name: Deploy layer generator
      env:
        GITHUB_TOKEN: ${{ secrets.LAYER_GITHUB_PACKAGES_PAT }}
      run: mvn -B clean deploy --file pom.xml -DskipTests